
@font-face {
	font-family: 'Montserrat-Black';
	src: local('Montserrat-Black'), url(/fonts/Montserrat/Montserrat-Black.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-BlackItalic';
	src: local('Montserrat-BlackItalic'), url(/fonts/Montserrat/Montserrat-BlackItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat-Bold'), url(/fonts/Montserrat/Montserrat-Bold.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-BoldItalic';
	src: local('Montserrat-BoldItalic'), url(/fonts/Montserrat/Montserrat-BoldItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-ExtraBold';
	src: local('Montserrat-ExtraBold'), url(/fonts/Montserrat/Montserrat-ExtraBold.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-ExtraBoldItalic';
	src: local('Montserrat-ExtraBoldItalic'), url(/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-ExtraLight';
	src: local('Montserrat-ExtraLight'), url(/fonts/Montserrat/Montserrat-ExtraLight.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-ExtraLightItalic';
	src: local('Montserrat-ExtraLightItalic'), url(/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-Italic';
	src: local('Montserrat-Italic'), url(/fonts/Montserrat/Montserrat-Italic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-Light';
	src: local('Montserrat-Light'), url(/fonts/Montserrat/Montserrat-Light.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-LightItalic';
	src: local('Montserrat-LightItalic'), url(/fonts/Montserrat/Montserrat-LightItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-Medium';
	src: local('Montserrat-Medium'), url(/fonts/Montserrat/Montserrat-Medium.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-MediumItalic';
	src: local('Montserrat-MediumItalic'), url(/fonts/Montserrat/Montserrat-MediumItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-Regular';
	src: local('Montserrat-Regular'), url(/fonts/Montserrat/Montserrat-Regular.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-MediumItalic';
	src: local('Montserrat-MediumItalic'), url(/fonts/Montserrat/Montserrat-MediumItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-SemiBold';
	src: local('Montserrat-SemiBold'), url(/fonts/Montserrat/Montserrat-SemiBold.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-SemiBoldItalic';
	src: local('Montserrat-SemiBoldItalic'), url(/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-Thin';
	src: local('Montserrat-Thin'), url(/fonts/Montserrat/Montserrat-Thin.ttf) format('ttf');
  }
  @font-face {
	font-family: 'Montserrat-ThinItalic';
	src: local('Montserrat-ThinItalic'), url(/fonts/Montserrat/Montserrat-ThinItalic.ttf) format('ttf');
  }