.devices-img {
	height: auto;
	max-height: 100%;

	width: auto;
	max-width: 100%;
	object-fit: contain
  }

.back-btn {
	width: 20px;
	height: 20px;
	margin-top:10px;
}

.sidemenu{
	background-color:'#b3b3ff';
	width:'55%';
	height:'100%'
}

#deviceList > div {
	margin:'5px 2px'
}

@media all and (min-width: 1200px) {
	.wrapper {
		width:'30%';
	  }
  }

@media all and (min-width: 768px) {
	.wrapper {
		width:'50%';
	  }

  }

  @media all and (min-width: 375px) {
	.wrapper {
		width:'50%';
	  }
  }
